<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    {{!--
    <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="css/login.css">

    <title>A-Gym | Login</title>
</head>

<body class="text-center">


    {{>login}}



    <script src="../jq/jquery.js" text="text/javascript"></script>
    <script src="../js/bootstrap.js" text="text/javascript"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            offset: 200
        });
    </script>
</body>

</html>