<hr class="opacity mt-3 mb-3">
<div class="container">
    <h1 class="text-center"> About Us </h1>
    <p class="text-center pb-3">All this about us, what we provide and we also provide protein powder together and other
        supplements</p>
    {{!-- features devider here --}}
    <div class="container">
        <div class="row featurette" data-aos="fade-right" data-aos-duration="2000">
            <div class="col-md-7 align-self-center">
                <h2 class="featurette-heading text-center">Trainer</h2>
                <p class="lead text-center">We have best trainer in the gym for your convinience and they helps you
                    to make
                    your dream physique</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto imgradius"
                    width="500" height="500" src="images/trainer.jpg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#eee">
            </div>
        </div>
        <hr class="featurette-divider mt-3 mb-3">
        <div class="row featurette" data-aos="fade-left" data-aos-duration="2000">
            <div class="col-md-7 order-md-2 align-self-center">
                <h2 class="featurette-heading text-center">Cardio</h2>
                <p class="lead text-center">We also have cardio sections for you so that you can lose weight and do
                    calories
                    deficit in your diet.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto imgradius"
                    width="500" height="500" src="images/cardio.jpg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>
        <hr class="featurette-divider mt-3 mb-3">
        <div class="row featurette" data-aos="zoom-in" data-aos-duration="2000">
            <div class="col-md-7 align-self-center">
                <h2 class="featurette-heading text-center">Strength<span class="text-muted"> Training</span></h2>
                <p class="lead text-center">We have lots of great machines for your weight training so that you can
                    build muscle in all parts of the body.</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto imgradius"
                    width="500" height="500" src="images/machines.jpg" role="img" aria-label="Placeholder: 500x500"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
            </div>
        </div>
        <hr class="featurette-divider mt-3 mb-3">
        <div class="row featurette">
            <div class="row featurette" data-aos="fade-up" data-aos-duration="2000">
                <div class="col-md-7 order-md-2 align-self-center">
                    <h2 class="featurette-heading text-center">Supplements</h2>
                    <p class="lead text-center">We have all kinds of supplements like protein Powder, BCAA, vitamin,
                        creatine
                        and many more...</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto imgradius"
                        width="500" height="500" src="images/sup.jpg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                </div>
            </div>
        </div>
    </div>
</div>