<div class="container">

    <h1>Our Gym
        Gallery</h1>
    <p>These
        photos are from inside of the gym</p>
    <div class=" masonry">
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            1
            <img src="images/gym.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            2
            <img src="images/gym2.jpg">
        </div>
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            3
            <img src="images/gym3.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            4
            <img src="images/gym4.jpg">
        </div>
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            5
            <img src="images/gym5.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            6
            <img src="images/img10.jpg">
        </div>
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            7
            <img src="images/gym8.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            8
            <img src="images/img4.jpg">
        </div>
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            9
            <img src="images/img11.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            10
            <img src="images/img5.jpg">
        </div>
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
            11
            <img src="images/img7.jpg">
        </div>
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
            12
            <img src="images/gym7.jpg">
        </div>
    </div>
</div>