<div class="bg-dark text-secondary px-4 py-5 text-center bgimage">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white" data-aos="fade-right" data-aos-duration="2000">Welcome To Your Gym</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4 text-white" data-aos="fade-left" data-aos-duration="2000">This is the first GYM in the
                whole city, in which there are all kinds of machines so
                that you can exercise and build your body. All these things in low budget</p>
        </div>
    </div>
</div>
</div>