{{!-- <div class="jumbotron text-center">
    <h1 class="display-3">Thank You! For exploring this website</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account
        setup.</p>


    </li>
</div> --}}

<div data-aos="fade-right">
    <header class="site-header" id="header">
        <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
    </header>
</div>

<div class="main-content" data-aos="fade-left">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="main-content__body" data-lead-id="main-content-body"><span class="">Thank you!</span> <span
            class="text-muted">you have given
            your time in my website and click on this link to come again</span>
    </p>
    <hr>
    <button type="button" class="btn btn-success">
        <a class="nav-link text-center text-white" href="/logins">Back to login page</a>
    </button>
</div>

<footer class="site-footer" id="footer">
    <p class="site-footer__fineprint" id="fineprint">Copyright ©2022 | All Rights Reserved</p>
</footer>