<div class="container">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Pricing</h1>
        <p class="fs-5 text-muted">These are the plans of the GYM and for first 5 users the offers is the first one
            , if you not grab it then after some time it will be disappeared . So don't waste your time just grab it.If
            any of these feel good or in budget of you then then fill the form and we will get in touch with you.
        </p>
    </div>
</div>

<div class="container">


    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 border-primary">
                        <h4 class="my-0 fw-normal">Free</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Free<small class="text-muted fw-light"> Demo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Strength Traning Included</li>
                            <li>Cardio Included</li>
                            <li>Full Diet plan</li>
                            <li>Constumize Time Table</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary"><a href="/contact"
                                class="text-white">Free Demo 14 Days</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 border-primary">
                        <h4 class="my-0 fw-normal">Gold</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Rs.1500<small class="text-muted fw-light">/mo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Cardio Included</li>
                            <li>Strength Training Incuded with Trainer</li>
                            <li>Full Customize Diet Plan</li>
                            <li>Morning Shedule</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary"><a href="/contact"
                                class="text-white">Gold Plan</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 border-primary">
                        <h4 class="my-0 fw-normal">Premium</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">Rs.2000<small class="text-muted fw-light">/mo</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Cardio Included</li>
                            <li>Strength Training with Trainer</li>
                            <li>Full Diet Plan which is created by Doctor</li>
                            <li>Customize Time Table</li>
                        </ul>
                        <button type="button" class="w-100 btn btn-lg btn-primary"> <a href="/contact"
                                class="text-white">Premium Plan</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>